@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=PT+Serif&family=Roboto+Mono:wght@500&family=Roboto:wght@100&display=swap');
.back-video{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
background-size: cover ;
filter:blur(6px);
}

body {
    font-family: "roboto mono", sans-serif;
}
.container{
    color: aliceblue;
}
.container1{
    color: aliceblue;
}
.container2{
    color: aliceblue;
}
.container3{
    color: aliceblue;
    position: absolute;
    right: 910px;
    bottom: 825px;
}
.container4{
    color: aliceblue;
    position: absolute;
    left: 20px;
    bottom: 825px;
}
.container5{
    color: aliceblue;
    position: absolute;
    right: 100px;
    bottom: 825px;
}

.container6{
    color: aliceblue;
}
.container7{
    color: aliceblue;
}
.container8{
    color: aliceblue;
}
h1{
    position: center;
}
