@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Mochiy+Pop+One&family=Oswald&family=PT+Serif&family=Roboto+Mono:wght@500&family=Roboto:wght@100&display=swap');
.back-video{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
background-size: cover ;
filter:blur(6px);
}

body {
    font-family: "Mochiy Pop One", sans-serif;
}

.container1{
    color: aliceblue;
}
.container2{
    color: aliceblue;
}
.container3{
    color: aliceblue;
    position: absolute;
    right: 910px;
    bottom: 775px;
}
.container4{
    color: aliceblue;
    position: absolute;
    left: 20px;
    bottom: 775px;
}
.container5{
    color: aliceblue;
    position: absolute;
    right: 100px;
    bottom: 775px;
}

.container6{
    color: aliceblue;
}
.container7{
    color: aliceblue;
}
.container8{
    color: aliceblue;
}
.container9{
    color: aliceblue;
}
h1{
    position: center;
}
.container0{
    transform: translate(-50%,-50%);
}
.font1{
    background: linear-gradient(90deg,#00dbde,#fc00ff,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00cd,#ff0000);
    font-family: sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
