@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Mochiy+Pop+One&family=Oswald&family=PT+Serif&family=Poppins&family=Roboto+Mono:wght@500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Mochiy+Pop+One&family=Oswald&family=PT+Serif&family=Roboto+Mono:wght@500&family=Roboto:wght@100&display=swap');
.back-video{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
background-size: cover ;
filter:blur(10px);
}

img{
    cursor: pointer;
    max-width: 10%;
    max-height: 10%;
    float: right;
    position: absolute;
    right: 615px;
    bottom: 880px;

}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    font-family: "poppins", sans-serif;
}
.container2{
    color: aliceblue;
}
.container3{
    color: aliceblue;
    position: absolute;
    right: 890px;
    bottom: 710px;
    font-size: 25px;
    
}
.container4{
    color: aliceblue;
    position: absolute;
    left: 20px;
    bottom: 710px;
    font-size: 25px;
}
.container5{
    color: aliceblue;
    position: absolute;
    right: 100px;
    bottom: 710px;
    font-size: 25px;
}

.container6{
    color: aliceblue;
}
.container7{
    color: aliceblue;
}
.container8{
    color: aliceblue;
}
.container9{
    color: aliceblue;
}
h1{
    position: center;
}
.container11{
    font-size: 25px ;
}
.font1{
    letter-spacing: 10px;
    cursor: pointer;
    background: linear-gradient(90deg,#ff0000,#ffff00,#00dbde,#ff00f3,#0033ff,#ff00c4,#ff0000);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: animate 8s linear infinite;
}
@keyframes animate{
    0%{
        background-position:  0%;
    }
    100%{
        background-position: 400%;
    }
    
    }